[MASTER]
# The maximum number of characters on a single line.
max-line-length=120

# A comma-separated list of directories or packages to be ignored. Can be useful to exclude third-party packages.
ignore=venv

# Enable the 'pylint' plugin that integrates additional checks
load-plugins=pylint_django

[MESSAGES CONTROL]
# Disable specific messages by their ID
disable=C0111, C0103, R0913

# Enable specific messages, if needed
enable=E1101, W0201

[REPORTS]
# Disable reports such as HTML and text output
output-format=text

[FORMAT]
# Configure the style of docstrings, adjust the PEP-8 rules
docstring-min-length=10

# Naming conventions
variable-rgx=[a-z_][a-z0-9_]{2,30}$
class-rgx=[A-Z][a-zA-Z0-9]+$
function-rgx=[a-z_][a-z0-9_]{2,30}$
argument-rgx=[a-z_][a-z0-9_]{2,30}$

[DESIGN]
# Number of arguments for functions/methods
max-args=5

# Maximum number of locals in a function/method
max-locals=15

# Maximum number of return statements in a function/method
max-returns=6

[TYPECHECK]
# Ignore certain modules for type checking
ignored-modules=os, sys

[SIMILARITIES]
# Allow a certain percentage of similar lines for method functions
min-similarity-lines=10
